body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
/* Nav */
nav {
    padding: 0.5rem;
    background: #66a9ec;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
}
nav > a {
    text-decoration: none;
    color: #1E1E1D;
    margin-top: 0.5rem;
}
/* Main Section */
section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}
/* Text Article */
#text-article-1 {
    padding: 0.5rem;
    flex-shrink: 0;
}
#text-article-1 > h2 {
    font-size: 3rem;
    margin: 0.5rem 0;
}
#text-article-1 > p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
/* Canvas Container */
.canvas-container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}
#threejs-canvas {
    display: block;
    width: 100%;
    height: 100%;
}